---

const { allPosts = [], newPost = [] } = Astro.props;

---

<!DOCTYPE html>
    <html lang="en"></html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    </head>
    

<div class="max-w-full grid grid-cols-1 sm:grid-cols-12 sm:grid-flow-row-dense gap-16 max-md:10">
    
        {
            newPost.length > 0 ? (
            newPost.map((post: any) => (
                <div class="relative w-[350px] max-md:w-full h-[300px] sm:col-span-6 lg:col-span-5 grid grid-rows-2 bg-slate-300 bg-opacity-15 rounded-lg">
                    
                <div class="card-content mt-5">
                    <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                        <img
                            class="bg-contain"
                            src={post.frontmatter.image['url']}
                            alt={post.frontmatter.image['alt']}
                        />
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">{post.frontmatter.title}</p>
                        <p class="subtitle is-6">{`${post.frontmatter.author.split(' ')[0]} ${post.frontmatter.author.split(' ')[1][0]}. ${post.frontmatter.author.split(' ')[2]}`}</p>
                    </div>
                    </div>

                    <div class="content mt-5">
                        <a href={post.url} class="text-gray-900 font-md hover:text-indigo-600 leading-none truncate">
                            {post.frontmatter.description}</a>                    
                    </div>
                </div>
                <time class="absolute bottom-0 p-5" datetime={post.frontmatter.pubDate.toString().slice(0, 10)}>{post.frontmatter.pubDate.toString().slice(0, 10)}</time>

                </div>
            ))): ''
        }

    <div class="w-full sm:col-span-6">

        {
            allPosts.length > 0? (
            allPosts.map((posts: any) => (
                <div class="w-full h-[100px] flex items-start mb-3 pb-3 bg-slate-100 rounded-md">
                    <a href="#" class="inline-block mr-3">
                        <div class="w-20 h-20 bg-contain bg-center"
                            style={`background-image:url(${posts.frontmatter.image['url']})`}>
                        </div>
                    </a>
                    <div class="text-sm flex flex-col gap-3 p-1">
                        <p class="text-gray-600 text-xs">{posts.frontmatter.pubDate.toString().slice(0, 10)}</p>
                        <a href={posts.url} class="text-gray-900 font-md hover:text-indigo-600 leading-none max-md:w-[150px] w-[250px] mini-card_truncate">
                            {posts.frontmatter.description}</a>
                    </div>
                </div>
            ))): <p>cargando</p>
        }
        
    </div>
</div>


<style>
    .truncate {
        display: block; /* Asegura que funcione en enlaces */
        width: 100%; /* Ajusta el ancho según tus necesidades */
        height: 80px;
        white-space: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .truncate::after {
        content: '...';
    }

    .mini-card_truncate {
        display: block; /* Asegura que funcione en enlaces */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


</style>