---

const { allPosts = [], newPost = [] } = Astro.props;

---

<!DOCTYPE html>
    <html lang="en"></html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    </head>
    

<div class="grid grid-cols-1 sm:grid-cols-12 gap-10">
    
        {
            newPost.length > 0 ? (
            newPost.map((post: any) => (
                <div class="w-[350px] max-md:w-full h-[450px] max-md:h-[600px] sm:col-span-6 lg:col-span-5 grid grid-rows-2 bg-slate-100 rounded-lg">
                    <div class="card-image">
                    <a href={post.url} class="image is-4by3">
                    <img
                        src={post.frontmatter.image['url']}
                        alt={post.frontmatter.image['alt']}
                    />
                    </a>
                </div>
                <div class="card-content mt-5">
                    <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                        <img
                            src={post.frontmatter.image['url']}
                            alt={post.frontmatter.image['alt']}
                        />
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">{post.frontmatter.title}</p>
                        <p class="subtitle is-6">{`${post.frontmatter.author.split(' ')[0]} ${post.frontmatter.author.split(' ')[1][0]}. ${post.frontmatter.author.split(' ')[2]}`}</p>
                    </div>
                    </div>

                    <div class="content mt-3">
                        <a href={post.url} class="text-gray-900 font-medium hover:text-indigo-600 leading-none">
                            {post.frontmatter.description}</a>                    
                    </div>
                </div>
                <time class="relative bottom-0 p-5" datetime={post.frontmatter.pubDate.toString().slice(0, 10)}>{post.frontmatter.pubDate.toString().slice(0, 10)}</time>

                </div>
            ))): ''
        }

    <div class="sm:col-span-6 lg:col-span-4">

        {
            allPosts.length > 0? (
            allPosts.map((posts: any) => (
                <div class="flex items-start mb-3 pb-3 bg-slate-100 rounded-md">
                    <a href="#" class="inline-block mr-3">
                        <div class="w-20 h-20 bg-cover bg-center"
                            style={`background-image:url(${posts.frontmatter.image['url']})`}>
                        </div>
                    </a>
                    <div class="text-sm">
                        <p class="text-gray-600 text-xs">{posts.frontmatter.pubDate.toString().slice(0, 10)}</p>
                        <a href={posts.url} class="text-gray-900 font-medium hover:text-indigo-600 leading-none">
                            {posts.frontmatter.description}</a>
                    </div>
                </div>
            ))): <p>cargando</p>
        }
        
    </div>
</div>
